@model List<Domain.Entities.Post>
@{
    ViewData["Title"] = "Posts";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="~/css/Front/blog.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav-wrapper">
        <nav class="main-nav">
            <div class="logo-container">
                <a href="/"><img src="../img/logo.svg" alt="Logo Inc"></a>
            </div>
    
            <ul class="nav-bar">
                <li><a href="artists.html">Artists</a></li>
                <li><a href="signin.html">Sign In</a></li>
            </ul>
        </nav>
    </div>

    <div class="section--title">
        <h2>Blog</h2>
    </div>

    <section>
        @foreach (var item in Model)
        {
            <div class="blog--content__wrapper">
                <div class="blog--image">
                    <img src="@item.ImageURL" alt="">
                </div>
                <div class="blog--description">
                    <h2>@item.Title</h2>
                    <p>
                       @Html.Raw(item.Description)
                            <a href="/Blog/Post/@item.Id" style="text-decoration: none; color:grey">see more</a>
                    </p>

                    <p >
                        <em>by Irakli Eradze</em>
                    </p>

                </div> 
            </div>
        }
    </section>

    <footer>
        <div class="footer--container">
            <div class="footer--title">
                <img src="../img/logo.svg" alt="footerLogo">
                <h1>Artifact</h1>
            </div>

            <div class="footer--content">
                <div class="left--panel">
                    <h2>Contact</h2>
                    <div class="left--panel--content">
                        <p>Email</p>
                        <p>Facebook</p>
                        <p>Instagram</p>
                    </div>
                </div>
                
                <div class="center--panel">
                    <h2>Help</h2>
                    <div class="center--panel--content">
                        <p>For Artists</p>
                        <p>How to Use Artifact</p>
                    </div>
                </div>
                
                <div class="right--panel">
                    <h2>About</h2>
                    <div class="right--panel--content">
                        <p>The Website</p>
                        <p>Team</p>
                        <p>Terms & Conditions</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>