@model List<Domain.Entities.Post>
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/css/Front/blog.css">
}
    <div class="section--title">
        <h2>Blog</h2>
    </div>
    <section>
        @foreach (var item in Model)
        {
            <div class="blog--content__wrapper">
                <div class="blog--image">
                    <img src="@item.ImageURL" alt="">
                </div>
                <div class="blog--description">
                    <h2>@item.Title</h2>
                    <p>
                       @item.Description.Substring(0,300)
                       
                            <a href="/Blog/Post/@item.Id" style="text-decoration: none; color:grey">see more</a>
                    </p>

                    <p>
                        <em>by @item.User.User.UserName</em>
                    </p>

                </div> 
            </div>
        }
    </section>

  