@model Web.Areas.Identity.ViewModels.ForgotPasswordViewModel
@{  
    ViewData["Title"] = "ForgotPassword";  
    Layout = "~/Views/Shared/_Layout2.cshtml";  
}  
<div style="text-align:center">
    <h1>ForgotPasswordConfirmation</h1>
    <p>
        The link has been sent, please check your email to reset your password.
    </p>
</div>