@model Web.Areas.Identity.ViewModels.ForgotPasswordViewModel
@{  
    ViewData["Title"] = "ForgotPassword";  
    Layout = "~/Views/Shared/_Layout2.cshtml";  
}  
@section Styles{
    <link rel="stylesheet" href="~/css/login.css">
}
 <div class="login-container">
        <div class="title">
            <h2>Forgot Password</h2>
        </div>
        <form asp-action="/Identity/Account/ForgotPassword"  method="POST" >
            @Html.AntiForgeryToken()
            <div class="username">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })  <br>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })  
            </div>
            <div class="help">

                <div class="forgot">
                    <a href="/Identity/Account/Login">Back to login</a>
                </div>
            </div>

            <div class="btn-login">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
