@model Web.Areas.Identity.ViewModels.LoginViewModel  
@{  
    ViewData["Title"] = "Login";  
    Layout = "~/Views/Shared/_Layout2.cshtml";  
}  
@section Styles{
    <link rel="stylesheet" href="~/css/login.css">
}
    <div class="login-container">
        <div class="title">
            <h2>Login</h2>
        </div>
        <form asp-action="Login" asp-controller="Account" method="post" >
            <div class="username">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })  <br>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })  
            </div>

            <div class="password">
               @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })  <br>
               @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })  
            </div>

            <div class="help">
                @* <div class="remember">
                   <input type="checkbox" asp-for="RememberMe">
                   <p>Remember me</p>
                </div> *@

                <div class="forgot">
                    <a href="/Identity/Account/ForgotPassword">Forgot your password?</a>
                </div>
            </div>

            <div class="btn-login">
                <button type="submit">Login</button>
            </div>

            <div class="option--register">
                <p>Or</p>
                <a href="/Identity/Account/Register">Create New Account</a>
            </div>
        </form>
    </div>
