

.section--title {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  border-bottom: 2px solid rgb(32, 32, 32);
  text-transform: uppercase;
}

.artists--wrapper {
display: grid;
grid-template-columns: auto auto auto auto;
grid-gap: 2rem;
padding: 3rem;
}

.artist--content {
  text-align: center;
}

.artist--content h2{
  font-weight: 400;
}

.artist--content p{
  font-weight: 300;
}

.artist--content a {
text-decoration: none;
color: rgb(32, 32, 32);
}



.left--panel {
  color: rgb(240, 240, 240);
}

.left--panel--content {
  margin-top: 1rem;
}

.center--panel {
  color: rgb(240, 240, 240);
}

.center--panel--content {
  margin-top: 1rem;
}

.right--panel {
  color: rgb(240, 240, 240);
  font-weight: 400;
}

.right--panel--content {
  margin-top: 1rem;
  font-weight: 300;
}

.btn--cart {
  width: 100%;
  padding: .75rem;
  font-size: 1rem;
  border: none;
  background-color: rgb(32, 32, 32);
  color: rgb(240, 240, 240);
  border-radius: 8px;
  cursor: pointer;
}