.section--title {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  border-bottom: 2px solid rgb(32, 32, 32);
  text-transform: uppercase;
}

.blog--content__wrapper {
  width: 90vw;
  margin: auto;
  padding: 4rem;
  display: flex;
  /* background: cornflowerblue; */
  border-bottom: 2px solid rgb(32, 32, 32);
}

.blog--image {
  width: 400px;
  height: auto;
}

.blog--image img {
  width: 100%;
  object-fit: cover;
}

.blog--description {
  padding-left: 1rem;
  width: 40%;
  /* background: chocolate; */
  position: relative;
}

.blog--description p:not(:last-child) {
  margin-top: 1rem;
}

.but1 {
  border: none;
  background: rgb(32, 32, 32);
  color: white;
  padding: .25rem;
  border-radius: 4px;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
}

.blog--description p button:hover {
  background-color: rgb(63, 63, 63);
}

.blog--description p button a {
  text-decoration: none;
  color: white;
}


.blog--description p:last-child {
  position: absolute;
  bottom: 0;
}

footer {
  width: 100%;
  background-color: rgb(32, 32, 32);
  margin-top: 1rem;
}

.footer--container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer--container
h2 {
  font-weight: 400;
}

.footer--title {
  display: flex;
}

.footer--title
h1 {
  color: rgb(240, 240, 240);
  margin-left: 1rem;
}

.footer--content {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  width: 30%;
}

.left--panel {
  color: rgb(240, 240, 240);
}

.left--panel--content {
  margin-top: 1rem;
}

.center--panel {
  color: rgb(240, 240, 240);
}

.center--panel--content {
  margin-top: 1rem;
}

.right--panel {
  color: rgb(240, 240, 240);
  font-weight: 400;
}

.right--panel--content {
  margin-top: 1rem;
  font-weight: 300;
}