* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 70%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.settings__panel {
    display: flex;
    width: 95%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid rgb(32, 32, 32);
    border-radius: 25px;
}

.settings__title--panel {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 2px solid rgb(32, 32, 32);
}

.general {
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: rgb(32, 32, 32);
}

.general a {
    text-decoration: none;
    color: rgb(32, 32, 32);
}

.security {
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
}

.security a {
    text-decoration: none;
    color: rgb(32, 32, 32);
}

.cancel-account {
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
}

.cancel-account a {
    text-decoration: none;
    color: rgb(32, 32, 32);
}

.content-general {
    width: 80%;
    position: relative;
}

.profile__image {
    display: flex;
    align-items: center;
    width: 30%;
}

.info {
    margin-left: 1rem;
}

.info
p {
    font-size: .8rem;
    font-weight: 300;
}

form {
    align-items: center;
    position: absolute;
    left: 0;
    width: 50%;
}

form input,
form textarea {
    padding: .8rem;
    width: 80%;
    border-radius: 15px;
    border: none;
    margin-top: 1rem;
    outline: none;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid rgb(32, 32, 32);
    margin-left: 1rem;
    resize: none;
}

form input::placeholder {
    font-size: 1rem;
}

.content-general {
    width: 80%;
    padding: 1rem;
    position: relative;
}

.profile__image {
    display: flex;
    align-items: center;
    width: 30%;
}

.info {
    margin-left: 1rem;
}

.info
p {
    font-size: .8rem;
    font-weight: 300;
}

form {
    align-items: center;
    position: absolute;
    left: 0;
    width: 50%;
}

form input,
form textarea {
    padding: .8rem;
    width: 80%;
    border-radius: 15px;
    border: none;
    margin-top: 1rem;
    outline: none;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid rgb(32, 32, 32);
    margin-left: 1rem;
    resize: none;
}

form input::placeholder {
    font-size: 1rem;
}

.name {
    display: flex;
    align-items: center;
}

.about {
    display: flex;
    align-items: center;
}

.contact {
    display: flex;
    align-items: center;
}

.gender {
    width: 30%;
}

.button-submit {
    margin-left: 1rem;
    margin-top: 2rem;
    width: 20%;
    background-color: rgb(32, 32, 32);
    border-radius: 8px;
    padding: .5rem;
}

.btn-primary {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: .8rem;
    cursor: pointer;
}