@model Domain.DTO.PaintTypeDTO
@{
ViewData["Title"] = "Create Paint Type";
Layout = "~/Views/Shared/_Layout.cshtml";  
}

<div class="container">
    @Html.ActionLink("Back", "Index", "PaintType", new { Area = "Admin" }, new { @class = "btn btn-primary float-right mb-2" })
    <form method="post" action="/Admin/PaintType/Store">
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Enter Title", @class = "form-control" })
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>