@model List<Domain.Entities.Post>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}
@section Styles{
    @* <link rel="stylesheet" href="~/css/Front/blog.css"> *@
}

<div class="section--title">
    <h2>Home</h2>
</div>