@model List<Domain.Entities.User.ApplicationUser>
@{  
    ViewData["Title"] = "Artists";  
    Layout = "~/Views/Shared/_blogLayout.cshtml";  
} 
@section Styles{
    <link rel="stylesheet" href="~/css/Front/artist.css">
}

    <div class="section--title">
        <h2>Artists</h2>
    </div>

    <section>
        <div class="artists--wrapper">
            @foreach (var item in Model)
            {
                <div class="artist--content">
                    @if(item.UserProfile.Image != null)
                    {
                        <img src="@item.UserProfile.Image" alt="" style="width: 300px; height: 400px; object-fit: cover; border-radius: 1rem;">
                    }
                    else
                    {
                        <img src="~/img/octane.jpg" alt="rover" style="width: 300px; height: 400px; object-fit: cover; border-radius: 1rem;" />
                    }
                    <h2><a href="/UserAccount/Profile?userName=@item.UserName">@item.UserName</a></h2>
                    
                </div>
            }
        </div>
    </section>

    