@model Web.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Edit Profile";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Front/privacy.css">
    <title>Privacy</title>
</head>
<body>
    <nav>

    </nav>

    <div class="container">
        <div class="settings__panel">
            <div class="settings__title--panel">
                <div class="general">
                   <a href="/UserAccount/EditProfile"> General</a>
                </div>
                
                <div class="security" style="border-left: 4px solid seagreen;">
                   <a href="privacy.html">Privacy & Security</a>
                </div>
                
                <div class="cancel-account">
                    <a href="/UserAccount/Cancel">Cancel Account</a>
                </div>
            </div>
            <!--Privacy&Security-->
            <div class="content-password appear">
                
               

                <form asp-action="ChangePassword" asp-controller="UserAccount" method="post">  
                    @Html.AntiForgeryToken()
                    <div class="old-password"> 
                        @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Old Password"})
                    </div>

                    <div class="confirm-password">
                        @Html.PasswordFor(m => m.NewPassword, new { placeholder = "New Password"})
                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm New Password"})
                    </div>

                    <div class="button-change">
                        <button type="submit" class="btn-primary">Change Password</button>
                    </div>

                    <div class="help">
                        <a href="/Identity/Account/ForgotPassword">Forgot Your Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        var loadFile = function(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
        </script>
</body>
</html>