@model Web.ViewModels.MyOrdersViewModel
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}
@section Styles{
   
    <style>
          .container{
    min-height: 400px;
  }

  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: ;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

  
    </style>
}

<div class="container">
    @if(Model.Order.Count() > 0)
    {
        <table>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Products</th>
        </tr>
        @foreach(var order in Model.Order)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>
                    @foreach (var item in order.OrderItems)
                        {
                            @item.Product.Name
                        }
                    </td>
                </tr>
            }
        
        <tr>
        </table>
      
     }

        else
        {
            <h1 style="text-align: center;">No Orders Yet</h1>
        }
</div>