<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/layout2.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet"> 
    @await RenderSectionAsync("Styles", required: false)
    <title>Login</title>
</head>
<body>
    <div class="nav--container">
        <nav class="main-nav">
            <div class="logo-container">
                <a href="/"><img src="../img/logo.svg" alt="Logo Inc"></a>
            </div>
    
            <ul class="nav-bar">
                <li><a href="/">Blog</a></li>
                <li><a href="/">Artists</a></li>
            </ul>
        </nav>
    </div>
     @RenderBody()

</body>
</html>
